## Tuple

Problem with tuple

In [5]:
point = (2, 4)
point

(2, 4)

In [6]:
# Accessing point
point[0]

2

In [7]:
point[1]

4

In [8]:
# updating coordinate value
point[0] = 3

TypeError: 'tuple' object does not support item assignment

## Namedtuple

In [9]:
from collections import namedtuple

In [11]:
# create namedtuple type - Point
Point = namedtuple("Point", "x y")
issubclass(Point, tuple)

True

In [13]:
point = Point(2, 4)
point

Point(x=2, y=4)

In [14]:
# dot notation with access coordinates
point.x

2

In [15]:
point.y

4

In [16]:
# indexing to access coordinates
point[0]

2

In [17]:
point[1]

4

In [18]:
# Namedtupes are immutable
point.x = 100

AttributeError: can't set attribute

While tuples and namedtuples are immutable, the values that they point don't necessarily have to be immutable.

In [20]:
Person = namedtuple("Person", "name children")
john = Person("John Doe", ["Timmy", "Jimmy"])
john

Person(name='John Doe', children=['Timmy', 'Jimmy'])

In [21]:
id(john.children)

2054912792960

In [23]:
john.children.append("Tina")
john

Person(name='John Doe', children=['Timmy', 'Jimmy', 'Tina', 'Tina'])

In [24]:
id(john.children)

2054912792960

In [25]:
hash(john)

TypeError: unhashable type: 'list'

In [26]:
Point = namedtuple("Point", ["x", "y"])
Point

__main__.Point

In [27]:
Point(2,4)

Point(x=2, y=4)

In [31]:
# A string with comma seperated field names
Point = namedtuple("Point", "x, y")
Point

__main__.Point

In [32]:
Point(4, 8)

Point(x=4, y=8)

In [33]:
# A generator expression for the field names
Point = namedtuple("Point", (field for field in "xy"))
Point

__main__.Point

In [34]:
Point(8, 16
      )

Point(x=8, y=16)